*{
    text-decoration: none;
    
}
body{
    background-color: hsl(212, 45%, 89%);
    height:200%;
    width: 100%;
    justify-content: center;

}
@media only screen and (min-width: 1000px){
    body{
        background-color: hsl(212, 45%, 89%);
        height:200%;
        width: 100%;
        justify-content: center;    
}
}
.content{
    width: 160%;
    height:900px;
    background-color: hsl(0, 0%, 100%);
    margin-left: 120px;
    margin-right: 60px;
    margin-top: 20%;
    margin-bottom: 20%;
    padding-right: 15px;
    border-radius: 30px;
    
}
@media only screen and (min-width: 1000px){
    .content{
        width: 50%;
        height:800px;
        background-color: hsl(0, 0%, 100%);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
        margin-bottom: 40%;
        padding-top: 40px;
        padding-bottom: 30px;
        border-radius: 30px;
        
}
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 200px;
    font-size: 30px;
}
@media only screen and (min-width: 1000px){
    h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 300px;
    font-size: 30px;
    }
}
p{
    text-align: center;
    font-weight: 150px;
    font-size: 15px;
}
@media only screen and (min-width: 1000px){
    p{
    text-align: center;
    font-weight: 150px;
    font-size: 15px;


    }
    
}
#img{
    padding: 80px 100px;
    width:15px;
    height: 500px;
    justify-content: center;
    
    
}
@media only screen and (min-width: 1000px){
    #img{
        margin:0px;
        padding: 20px 20px 40px 60px;
        width:15px;
        height: 550px;
    }
}